# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# JetBrains
.idea/
*.iml

# Eclipse
.settings/
.metadata/

# Build
target/
build/
dist/

# Temp
*.pid
*.log
*.tmp

# serverless
.env
.serverless

# python
venv
*.pyc
staticfiles
db.sqlite3
__pycache__

# node
node_modules
