# org: nalbam
app: lambda-gureumi-ai-bot
service: lambda-gurumi-ai-bot
provider:
  name: aws
  region: us-east-1
  runtime: python3.12
  stage: ${opt:stage, 'dev'}
  memorySize: 5120
  timeout: 60
  environment:
    BASE_NAME: gurumi-ai-bot
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:DeleteItem
      Resource:
        - "arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.BASE_NAME}-*"
        - "arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.BASE_NAME}-*/index/*"
    - Effect: Allow
      Action:
        - bedrock:InvokeAgent
      Resource:
        - "arn:aws:bedrock:${self:provider.region}:*:agent-alias/*"
    - Effect: Allow
      Action:
        - bedrock:Retrieve
      Resource:
        - "arn:aws:bedrock:${self:provider.region}:*:knowledge-base/*"
    - Effect: Allow
      Action:
        - bedrock:InvokeModel
      Resource:
        - "arn:aws:bedrock:${self:provider.region}::foundation-model/anthropic.claude-*"
        - "arn:aws:bedrock:${self:provider.region}::foundation-model/stability.stable-*"

functions:
  mention:
    handler: handler.lambda_handler
    events:
      - http:
          method: post
          path: /slack/events

  kakao:
    handler: handler.kakao_handler
    events:
      - http:
          method: post
          path: /kakao/events

resources:
  Resources:
    DynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.BASE_NAME}-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: user
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: user-index
            KeySchema:
              - AttributeName: user
                KeyType: HASH
            Projection:
              ProjectionType: KEYS_ONLY
            ProvisionedThroughput:
              ReadCapacityUnits: 5
              WriteCapacityUnits: 5
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
        TimeToLiveSpecification:
          AttributeName: expire_at
          Enabled: true
        Tags:
          - Key: Project
            Value: ${self:provider.environment.BASE_NAME}

    S3Bucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName:
          Fn::Sub: ${self:provider.environment.BASE_NAME}-${AWS::AccountId}
        Tags:
          - Key: Project
            Value: ${self:provider.environment.BASE_NAME}

    # KnowledgeBase:
    #   Type: AWS::Bedrock::KnowledgeBase
    #   Properties:
    #     Name: ${self:provider.environment.BASE_NAME}-knowledge-base

plugins:
  - serverless-python-requirements
  - serverless-dotenv-plugin
